
<div class="episode-wrapper">
    <div class="header">
        <div class="episode-banner">
            <div class="episode-info">
                <h2><%= @episode.title %></h2>
            </div>
            <div class="dark-overlay"></div>
        </div>
    </div>
    <div class="show-meta">
        <span><%= @episode.title %></span> &middot;
        <span><%= @episode.date_aired.to_date if @episode.date_aired %></span>
        <p><%= @episode.summary %></p>
    </div>
    <div class="episode-container">
    </div>
</div>
