// Place all the styles related to the episode controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.episode-wrapper {
	.header {
		position: relative;
		height: 250px;
		width: 100%;
		overflow: hidden;
		.episode-banner {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			height: 100%;
		}
		.episode-info {
			// position: absolute;
			// bottom: 20px;
			// left: 20px;
			z-index: 400;
			color: #fff;
			height: inherit;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			h2 {
				font-size: 3em;
				font-weight: bold;
				z-index: 400;
			}
			a {
				padding: 15px;
				margin: 15px 0;
				z-index: 400;
				border-radius: 5px;
				background-color: rgb(209, 209, 209);
				font-weight: bold;
				font-size: 1em;
				text-decoration: none;
				color: #121212;
				box-shadow: 0 0 1px rgba(34, 25, 25, 0.4);
				transition: all 0.2s cubic-bezier(0.33, -0.25, 0.77, 1.13);
				&:hover {
					background-color: rgb(175, 175, 175);
				}
				&.watched {
					color: #494949;
					background-color: rgb(79, 190, 255);
					&:hover {
						background-color: rgb(66, 160, 214);
					}
				}
			}
			span {
				color: rgb(150, 150, 150);
			}
		}
		.dark-overlay {
			position: absolute;
			z-index: 100;
			bottom: 0;
			top: 0;
			width: 100%;
			background-color: rgba(0, 0, 0, 0.5);
		}
	}
	.show-meta {
		padding: 20px;
		background-color: #f9f9f9;
		border-bottom: 1px solid #ccc;
		span {
			font-size: 1em;
			color: #121212;
		}
		p {
			font-size: 1em;
			padding: 5px 0;
			color: rgb(150, 150, 150);
		}
	}
	.episode-container {
        max-width: 960px;
        width: 100%;
        h2 {
            font-size: 1.4em;
            line-height: 1.3em;
        }
        padding: 20px;
		.comments-body {
            padding: 20px 0;
			display: flex;
			flex-direction: column;
			justify-content: end;
			align-items: end;
		}
		.comments-body input,
		.comments-body textarea {
            font-family: 'Roboto', sans-serif;
			width: 100%;
			box-sizing: border-box;
			padding: 10px;
			outline: none;
            background-color: rgb(236, 236, 236);
            border: none;
            box-shadow: 0 0 1px rgba(34, 25, 25, 0.4);
			border-radius: 10px;
			/* margin: 15px 0 15px 0; */
			color: #121212;
            font-size: 0.9em;
            resize: vertical;
		}
		.comments-body input[type="submit"] {
			margin: 10px 0;
			background-color: rgb(79, 190, 255);
			border: none;
			width: 17%;
			font-weight: 600;
		}
		@media only screen and (max-width: 440px) {
			.comments-body input[type="submit"] {
				width: 100%;
			}
        }
        .comment {
            background-color:  rgb(236, 236, 236);
            padding: 10px;
            border-radius: 5px;
            margin: 10px 0;
            .comment-inner {
                div {
                    padding: 10px 0;
                }
                p {
                    padding: 10px;
                    background-color: rgb(255, 255, 255);
                    border-radius: 5px;
                }
            }
        }
	}
}
