<% if params[:q] %>
<h2>TV Shows matching "<%= params[:q] %>"</h2>
<% end %>

<div class="card-wrapper">
<% @series.each do |show| %>
    <div class="card-serie">
        <div class="card-serie-actions">
            <%= link_to add_series_index_path(show), class: 'btn-add', method: :post do %>
                Add
            <% end %>
        </div>
        <%= image_tag urlmagic('http://localhost:1234?url=https://thetvdb.com', show[:image]), :alt => show[:title]%>
        <p><%= show[:title] %></p>
    </div>
<% end %>
</div>